[*.{kt, kts}]
# possible values: number (e.g. 2), "unset" (makes ktlint ignore indentation completely)
insert_final_newline = false
max_line_length = off
disabled_rules = no-wildcard-imports, import-ordering, experimental:multiline-if-else